/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Bebas Neue", sans-serif;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.header-container {
  display: flex;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header {
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
}

.language {
  margin-left: 10px;
}

.tickets {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: flex-end;
  font-size: 48px;
  margin-right: 120px;
}

.img-logo {
}

h2 {
  font-size: 90px;
}

.description {
  font-size: 55px;
  margin-left: 70px;
  margin-left: 700px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.description-2 {
  font-size: 55px;
  margin-left: 70px;
  margin-left: 700px;
  margin-bottom: 20px;
}

.description-3 {
  font-size: 55px;
  margin-left: 70px;
  margin-left: 700px;
}

.description-4 {
  font-size: 55px;
  margin-left: 70px;
  margin-left: 700px;
  margin-bottom: 50px;
}

.p {
  font-size: 40px;
  text-align: left;
  margin: 50px;
  padding: 50px;
  padding-right: 560px;
  padding-bottom: 50px;
}

.reservation {
  text-align: right;
  padding: 20px;
  font-family: "Bebas Neue", sans-serif;
}

.reservation-container {
  color: red;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: end;
}

.img-container {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: row;
  font-size: 48px;
  margin-left: 100px;
  padding-bottom: 50px;
}

.info-container {
  margin-bottom: 50px;
}

.info-container-2 {
  margin-bottom: 50px;
}

.info-container-3 {
  margin-bottom: 100px;
}

.detail-title {
  color: red;
  font-size: 60px;
  padding-left: 50px;
}

.detail-text {
  font-size: 48px;
  padding-left: 50px;
}

.detail {
  font-size: 40px;
  padding-left: 50px;
}

.detail-title-2 {
  font-size: 60px;
  padding-left: 50px;
}

.detail-text-2 {
  font-size: 48px;
  padding-left: 50px;
}

.detail-title-3 {
  font-size: 60px;
  padding-left: 50px;
}

.detail-text-3 {
  font-size: 48px;
  padding-left: 50px;
}

.detail-title-4 {
  font-size: 60px;
  padding-left: 50px;
}

.detail-text-4 {
  font-size: 48px;
  padding-left: 50px;
}

.places {
  color: red;
  font-size: 48px;
  padding-left: 50px;
}

.place {
  font-size: 60px;
  text-align: right;
  margin-left: 500px;
  padding: 50px;
}
.footer {
  font-size: 39px;
}
.copyright {
  font-size: 25px;
}

.defiling-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}
.defiling-text {
  white-space: nowrap;
  animation: ScrollTxt 5s linear infinite;
}

@keyframes ScrollTxt {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.concert-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.workshop-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.fence-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.reservation {
  color: red;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
}
